extends baseEmail 

block content
  p Hi #{firstName},
  p Confirm your email by submitting a POST request to\n#{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Password
  p If you did not sign up, please ignore this email!
  p - Kim Long Ngo